header {
    text-align: center;
}

body {
    width: 325px;
    height: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0 0 0 5px;
}

.title {
    padding-top: 12px;
}

.descriptor {
    width: 110px;
}

.btn-right {
    float: right;
    margin: 0 5px 5px 0;
}


.headline {
    padding-bottom: 8px;
}

.icon-button {
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}
